body {
    font-family: Arial;
    background: #f7f7f7;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
}
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
#result {
    margin-top: 20px;
    font-size: 18px;
}
